.user-container {
  background-color: rgb(224, 192, 150);
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  margin: 1rem;
  width: 120px;
}

#user-img {
  height: 80px;
  width: 70px;
  border-radius: 50%;
}